<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php">
    <testsuite name="Sanity Image Url PHP Test Suite">
        <directory suffix="Test.php">test</directory>
    </testsuite>
    <coverage>
        <report>
            <clover outputFile="clover.xml"/>
            <html outputDirectory="coverage"/>
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <logging/>
</phpunit>
